/*  Urok 12 */

.urok12 {
    margin-top: 30px;
    /* px - конкретное заданное число измерения */
    /* rem - относительная единица измерения, к/я базируется от html */
    /* em - относительная единица измерения, к/я базируется от родительского блока */
    /* % - относительная единица измерения, к/я базируется от ширины экрана, либо блока к к-му он задан */
}

    /* ЦВЕТ
        Оранжевый цвет - margin = внешний отступ
        Желтый цвет - border = границы 
        Зеленый цвет - padding = внутренние отступы
        Синий цвет - Контент = содержимое документа
    */


a {
    display: block;

    /* block        - блочная структура */
    /* inline-block - строчная структура */
    /* flex         - удобная адаптация ширины */
}



    /* Псевдо классы - это событие + обращение к позициям того или иного блока */

.urok12 ul li:nth-child(3) {
    background: red;
}
.urok12 ul li:nth-child(2n) {
    background: pink;
}

.urok12:hover {
    transition: 1s;
}
.urok12:hover {
    background-color: peru;
}
